
<h1>Ready to create my first chat application</h1>

<div stlye="position:relative;">
    <p id="userInfo" style="font-size:2em;
    "></p>
    <input type="text" id="chatBox">
    <p id="messageLogs"></p>

    <p id="userList" style="position:absolute; top:100px; right:20px; width:200px;"></p>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>